.itemXLSX{
    width: 100%;
    /* height: 50px; */
    background-color: rgba(0,0,0,.2);
    display: flex;
    color:white;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
}
.itemXLSX button {
    margin: 0px;
    margin-left: auto; /* Помещаем кнопку в конец строки */
    
}