.XlsxViewer{
    width: 100%;
    color: #fff;
}
a{
  color:white;
}
.xlsx_button{
  border: 0px;
  margin-right: 5px;
  padding: 5px;
  background-color: #333;
  color:white;
}
.open_page{
  background-color: #888888;
}

.aLinck{
  text-decoration: underline; 
  cursor: pointer;
  color:black;
}

.maxHeight{
    max-height: 80px;
    overflow: auto;
}

#xlsxWiewer_data{
  overflow: auto;
  height: calc(100vh - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  -ms-overflow-style: scrollbar;

}

.excel-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
  }
  
  .excel-table th,
  .excel-table td {
    padding: 8px;
    border: 1px solid #ddd;
    color:#fff;
  }
  .excel-table td{
    max-width: 40vw;
  }
  
  .excel-table th {
    background-color: #333;
    color: #fff;
    text-align: left;
  }
  
  .excel-table tr:nth-child(even) {
    background-color: #ddd;
  }
  
  .excel-table tr:hover {
    background-color: #ccc;
  }