.App-header {
  text-align: center;
  display: flex;
}
.App{
  padding-left: 10px;
}

.Text{
  color: rgb(0, 0, 0);
  font-size: 17px;
}

#parsingInfoTextArea{
  margin: 5px 0px 5px 0px;
  min-width: 100% ;
  max-width: 100% ;
  min-height: 70px;
  max-height: 300px;
  height: 70px;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #CDCDCD;
}
#parsingPanel{
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 32px);
}
#leftPanel{
  padding-top: 10px;
  padding-right: 10px;
  min-width: calc(100% - 140px);
  max-width: calc(100% - 140px);
}
#rightPanel{
  flex: 1; 
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 140px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px 0px 0px 0px;

}

.shadow{
  -webkit-box-shadow: 0px 0px 3px 1px rgba(124, 124, 124, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(124, 124, 124, 0.75);
  box-shadow: 0px 0px 3px 1px rgba(124, 124, 124, 0.75);
}

.borderZero{
  border: 0px;
  
  outline: none;
}


/* .left{
  position: absolute;
  right: 0px;
} */

.button{
  background-color: #666666;
  width: 150px;
  max-width: 100% ;
  border-radius: 10px;
  height: 30px;
  transition: 0.2s;
  margin-bottom: 10px;
  color:white;
}
.button2{
  background-color: #333;
  width: 130px;
  height: 25px;
  transition: 0.2s;
  margin-bottom: 10px;
  color:white;
}
.marginRight{
  margin: 0px 5px 0px 0px;
}
.active:hover{
  background-color: #888888;
  cursor: pointer;
}
.active:active{
  background-color: #bdbdbd;
}

.App-header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(12px + 1vmin); */
  font-size: 24px;
  color: white;
}
#pageName{
  width: calc( 100% - 550px );
  min-width:200px;
  text-align: center;
}
.close_page{
  background-color: #8b8b8b;
}
.close_page:hover{
  cursor: pointer;
  background-color: #616161;
}

.App-link {
  color: #61dafb;
}

.parsingStatus_parsing{
  background-color:#441b1b ;
  animation: identifier 2s infinite; 
}
.parsingStatus_parsing:hover{
    cursor:progress;
    background-color:#441b1b;
}

@keyframes identifier {
  0%{
    font-size: 16px;
  }
  50%{
    font-size: 18px;
  }
  0%{
    font-size: 16px;
  }
}